* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Arial";
  color: #212121;
}
html {
  font-size: 10px;
}
body {
  width: 100%;
  height: 100vh;
  background-color: rgba(55, 122, 197, 0.2);
}
.container {
  width: 80%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.2rem 2.4rem;
}
h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2.4rem;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  background-color: #377ac5;
  color: #fff;
  border-radius: 0.6rem;
  display: inline-block;
  font-size: 1.4rem;
}
