:root {
  --primary-color: #f88;
  --secondary-color: #212121;
  --primary-shade: rgb(200, 80, 80);
  --white: #fff;
  --black: #212121;
  --overLay: rgba(255, 255, 255, 0.5);
}
.dark {
  --primary-color: #212121;
  --secondary-color: #f88;
  --primary-shade: #424242;
  --white: #212121;
  --black: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", "Arial", "Sans-serif";
}
html {
  font-size: 10px;
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--primary-shade)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#modeButton {
  font-size: 1.6rem;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: var(--primary-color);
  border: none;
  /* padding: 1.2rem; */
  position: absolute;
  top: 5%;
  right: 10%;
}
main {
  position: relative;
  display: flex;
  width: 80%;
  background-color: var(--primary-color);
  border-radius: 0.6rem;
  height: 75%;
}
.player {
  width: 50%;
  padding: 2.4rem;
  background-color: var(--primary-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.player-1 {
  background-color: var(--primary-color);
  text-align: center;
}
.active-player {
  background-color: var(--overLay);
}
.playerName {
  font-size: 2.4rem;
}
.player-score {
  font-size: 3.2rem;
}
.currentScore {
  width: 80%;
  text-align: center;
  margin: 1.2rem auto;
  background-color: var(--primary-color);
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;
  justify-content: center;
}
.current-score {
  font-size: 1.8rem;
}
.newGame,
.holdScore,
.rollDice,
.dice {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1.2rem;
  border-radius: 2.4rem;
  border: none;
  outline: none;
}
.newGame {
  top: 15%;
}
.holdScore {
  bottom: 10%;
}
.rollDice {
  bottom: 20%;
}
.dice {
  top: 50%;
}
.hide {
  display: none;
}
