:root {
  --primary-color: #f88;
  --secondary-color: #212121;
  --primary-shade: rgb(200, 80, 80);
}
.dark {
  --primary-color: #212121;
  --secondary-color: #f88;
  --primary-shade: #424242;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", "Arial", "Sans-serif";
}
html {
  font-size: 10px;
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--primary-shade)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/*
main {
  width: 80%;
  max-width: 72rem;
  background-color: #fff;
  border-radius: 0.6rem;
  overflow: hidden;
  display: flex;
  position: relative;
  height: 80%;
}
.player {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.2rem;
}
#player-1 {
  background-color: #f88;
}
#player-2 {
  background-color: #f99;
}
.player h2 {
  font-size: 3.2rem;
}
.dice-score {
  font-size: 3.2rem;
}
button {
  border-radius: 2.4rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1.2rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #212121;
}
#newGame,
#rollDice,
#dice-img,
#holdNumber {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#dice-img {
  width: 20%;
}
#newGame {
  top: 10%;
}
#rollDice {
  bottom: 20%;
}
#dice-img {
  top: 50%;
}
#holdNumber {
  bottom: 10%;
}
.hidden {
  display: none;
} */

.container {
  width: 80%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2.4rem 1.2rem;
  border-radius: 0.6rem;
}
h2 {
  font-size: 2.4rem;
  color: var(--primary-color);
}
input {
  /* background-color: none; */
  outline: none;
  border: none;
  padding: 1.2rem;
  margin: 1.2rem auto;
  width: 50%;
}
.message {
  /* display: none; */
  font-size: 1.4rem;
}
.hide {
  display: none;
}
button {
  font-size: 1.6rem;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: var(--primary-color);
  border: none;
  /* padding: 1.2rem; */
  position: absolute;
  top: 10%;
  right: 10%;
}
.error {
  outline: 1px solid red;
  animation: errorMotion 0.5s;
}
@keyframes errorMotion {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}
