* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Arial";
}
html {
  font-size: 10px;
}
body {
  height: 100vh;
  width: 100%;
  background-color: #eee;
  position: relative;
}
.container {
  width: 80%;
  max-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
button {
  border: none;
  padding: 1.2rem;
  margin: 1.2rem;
}
.success,
.toast.success::after {
  background-color: #8f8;
}
.invalid,
.toast.invalid::after {
  background-color: #ff5;
}
.error,
.toast.error::after {
  background-color: #f88;
}
.toasts {
  position: absolute;
  bottom: 2.4rem;
  right: 2.4rem;
}
.toast {
  width: 200px;
  padding: 1.2rem;
  background-color: #fff;
  margin-bottom: 1.2rem;
  position: relative;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  animation: moveLeft 2s forwards linear;
}
.toast::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  /* border: 2px solid red; */
  animation: progressTimeLine 4.5s forwards linear;
}

@keyframes progressTimeLine {
  100% {
    width: 0%;
  }
}
@keyframes moveLeft {
}
#backlink {
  color: #212121;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
}
