* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Arial";
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
:root {
  --primary-color: #eee;
  --secondary-color: #212121;
}
.dark {
  --primary-color: #212121;
  --secondary-color: #eee;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.containers {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1.2rem 2.4rem;
  border-radius: 6px;
  text-align: center;
  width: 80%;
  max-width: 300px;
}
button {
  padding: 1.2rem 2.4rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-top: 1.2rem;
}
#backlink {
  color: var(--primary-color);
  text-align: center;
  text-decoration: none;
  font-size: 10px;
}
