* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Arial";
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
.overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #fff;
  width: 80%;
  max-width: 300px;
  padding: 1.2rem 2.4rem;
  border-radius: 1.2rem;
}
.modal h2 {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}
.modal p {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
.hidden {
  display: none;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  position: relative;
}
.container {
  background-color: #fff;
  width: 80%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3.6rem 3.6rem;
  text-align: center;
}
.btn {
  margin: auto;
  width: 80%;
  padding: 1.2rem 2.4rem;
  margin-bottom: 1.2rem;
}
